<div class="container-fluid profilebg">
<div class="pulse1"></div>
<div class="pulse2"></div>


	<div class= "stats">
  <%= avatar_for @foody %>


	<%= @foody.name %>

	<h1>Status</h1>
	<%= @foody.status %>

	<%= link_to 'Settings', edit_foody_path(@foody) %>

</div>
</div>