<div class="container">

	<div class="container">
		<div class="row">

			<div class="col-md-1">
				<%= avatar_for @foody %>	
			</div>

			<div class="col-md-4">
				<h1 class="profile-name"><%= @foody.name %></h1>
				<p class="profile-status"><%= @foody.status %></p>
				<p class="profile-status">www.instababe.com</p>
			</div>

			<div class="col-md-offset-4 col-md-2">	
				<% if @foody == current_foody %>
					<%= link_to 'Settings', edit_foody_path(@foody) %>
				<% end %>
			</div>
		
		</div>
	</div>

</div>