<div class="container-fluid profilebg">
  <div class="avatar">

	
  <%= avatar_for @foody %>

	<h1>Name</h1>
	<%= @foody.name %>

	<h1>Status</h1>
	<%= @foody.status %>

	<% if @foody == current_foody %>
		<%= link_to 'Settings', edit_foody_path(@foody) %>
	<% end %>

  </div>
</div>