<style>

h1 {

font-size: 50px;
text-align: center;
color: #fff;

  position: relative;
  padding-top: 20px;

 margin-bottom: 1em auto;
}


.glyphicon.glyphicon-ok-circle {

    font-size: 100px;
    color:blue;
    text-align: center;
    margin-bottom: 30px;
}


.text {
	font-size: 20px;
text-align: center;
color: #fff;
position: relative;
margin-top: 3em auto;
}



.contact_new {
  background: url('/assets/rsz_foods.jpeg');
  background-attachment:fixed;
  background-repeat:no-repeat;
  margin-top:;
  padding-bottom: 400px;
  padding-top: 50px;
  background-size:cover;
}

</style>

<div class="contact_new">
 <div class="container-fluid">
  



  <h1 class="page_title">Thank you</h1>

		<center><div class="glyphicon glyphicon-ok-circle" ></div></center>

	
	<div class="skinny_wrapper wrapper_padding">
		
		<p class="text"> We'll get back to you soon! </P>
	</div>

 </div>
</div>

