
 <style>

  .grid-item { width: 360px; }
  .grid-item--width2 { width: 360px; }
  
</style> 


<% @photos = Photo.all.order(created_at: :desc) %>

<div class="container-fluid search">
  <div class="row searchrow">
    <div class="col-md-8 col-xs-8">
      <h1>Latest Reviews</h1>
    </div>

      <div class="col-md-4 col-xs-4 minisearch">
       <%= form_tag(search_photos_path, method: :patch) do %>
      <form class="searchbar" role="search">
        <div class="input-group">
          <%= text_field_tag :search_query,params[:search_query], placeholder: "I'm craving for...", class: "form-control" %>
          <span class="input-group-btn">
            <%= button_tag(type: "submit", class: "btn btn-danger") do %>
            <i class="fa fa-search fa-lg"></i>
          <% end %>
          </span>
            <% end %>
         </div>
      </form>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row cardrowviewmore">
    <div class="grid" id="all-latest-photos">
      <%= render 'photo_card', photos: @photos_according_to_latest %>
    </div>
  </div>
</div>



<script src="/path/to/masonry.pkgd.min.js"></script>

<script type="">

  $('.grid').masonry({
    // options
    itemSelector: '.grid-item',
    columnWidth: 5
  });





</script>
