<div class="container-fluid cardcont">
  <div class="row cardrow">
    <div class="grid">
      <%= render 'photo_card', photos: @photos_according_to_latest %>
    </div>                                          
  </div>
</div>

<script type="">

  $('.grid').masonry({
    // options
    itemSelector: '.grid-item',
    columnWidth: 200
  });

</script>
