/* ---------- sign in page ------------ */
.bg {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%;
}

.signup {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}

.signinbox {
  position: relative;
  padding-top: 20px;
  background-color: rgba(62, 69, 81, 0.3);
  border-radius: 20px;
}

.bghomefont { 
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 200;
}

.loginbuttons {
  margin-top: 10px;
}

.btn.btn-primary.btn-lg.btn-block {
  white-space: normal;
}

.logo {
  width: 100%;
}

.signinsmall {
  color: white;
}
/* ---------------------------------- */
.avatar_img {
  border-radius: 50%;
}

/* ---------- sign up page ------------ */
.logosignup {
  position: relative;
  -webkit-filter: contrast(1.6) hue-rotate(180deg) invert(1);
  width: 100%;
  margin-bottom: -20px;
  margin-top: -50px;
}

.bgsignup {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%;
  -webkit-filter: brightness(0.6);
}

.signupintro {
  color: white;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  letter-spacing: 0.5px;
  justify-content: center;
  margin-top: -10px;
}

.homefont {
  color: white;
  letter-spacing: 1px;
}

.signupbox {
  position: relative;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.introspace {
  margin-bottom: 20px;
}


/*-------------- signup carousel ------------*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
