/* ------- flashes ---------- */
.notice {
  position: fixed;
  text-align: center;
  font-weight: 300;
  top: 70px;
  right:0px;
  max-width: 200px;
  width:100%;
  background: rgba(255, 152, 0, 0.7);
  color: white;
  font-size: 15px;
  border-radius: 20px;

  // must be more than navbar z-index
  z-index:1040; 
}


/* -------------- home page ------------ */
.indexbann {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  -webkit-filter: brightness(0.7);
  border: solid 2px;
  display: block;
}

.landing-banner{
  background-image: image-url('/assets/home2.jpg');
  padding-top: 100px;
  padding-bottom: 200px;
  background-size: cover;
  background-repeat: no-repeat;

  margin-top: -50px;
}

.halalogo {
  width: 50px;
  height: auto;
}

.textspace {
  margin-top: 0;
}

 @media screen and (min-width: 900px) {
   .textspace {
     margin-top: 20px;
   }
}

.homefont, .homefont2 {
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .homefont, .homefont2 {
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
}

.btn-danger {
  background: #fb8c00 !important;
  width: 100px;
}

.btn-danger:hover {
  background: #ef6c00 !important;
}

.searchrow {
  margin-top: 5px;
  // position: absolute;
}

// @media screen and (min-width: 1200px) {
//   .searchrow {
//     margin-top: 30px;
//   }
// }

.searchbar {
  width: 70%;
}

.searchfont {
  font-family: helvetica !important;
  letter-spacing: 0.5px;
}

.allpost {
  width: 50px;
  height: auto;
}

.indexes {
  position: relative;
  display: block;
  border: solid 10px red;
}

.searchspace {
  height: 164px;
}


/* ---------- nav bar ------------------ */
.navlogo {
  width:170px;
  height: auto;
  margin-top: 9px;
}

.navfont {
  color: #ffa726 !important;
  font-weight: 300 !important;
}

.navfont:hover {
  color: white !important;
  transition: color 0.3s ease-in !important;
  background-color: black !important;
  border-bottom: 1px solid #ccc;
  cursor: pointer !important;
}

.dropdown-menu {
  background-color: black !important;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin-bottom: 0;
}

/* ---------- sign in page ------------ */
.bg {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%;
}

.signup {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}

.signinbox {
  position: relative;
  padding-top: 20px;
  background-color: rgba(62, 69, 81, 0.3);
  border-radius: 20px;
}

.bghomefont { 
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 200;
}

.loginbuttons {
  margin-top: 10px;
}

.btn.btn-primary.btn-lg.btn-block {
  white-space: normal;
}

.logo {
  width: 100%;
}

.signinsmall {
  color: white;
}

.form-control {
  text-align: center;
}
/* ---------------------------------- */
.avatar_img {
  border-radius: 50%;
}

/* ---------- sign up page ------------ */
.logosignup {
  position: relative;
  width: 100%;
  margin-bottom: -20px;
  margin-top: -70px;
}

.bgsignup {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%;
  -webkit-filter: brightness(0.6);
}

.signupintro {
  color: white;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  white-space: normal;
  letter-spacing: 0.5px;
  justify-content: center;
  margin-top: -10px;
}

.homefont {
  color: white;
  letter-spacing: 1px;
}

.signupbox {
  position: relative;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.introspace {
  margin-bottom: 20px;
}

.smallscreenspace {
  margin-bottom: 70px;
}

.errors {
  color: white;
}

.spacing {
  margin-top: 20px;
}

/*-------------- signup carousel ------------*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* ------------ Profile Page ----------- */
.profilebg {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%;
  background: #ef6c00;
}

.avatar {
  display: block;
  margin: 0 auto;
}